body {
    margin: 0;
    background-color: black;
}

#root {
    padding: 3rem;
    text-align: center;
}

#root h1 {
    font-family: 'Press Start 2P', Consolas, monospace;
    color: white;
}

#gamezone {
    margin: 0 auto;
    height: 644px;
    width: 484px;
}

#canvas {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
    background-color:  rgb(46, 45, 46);
    height: 640px;
    width: 320px;
    border: 2px solid white;
}

#panel {
    display: block;
    background-color:rgb(0, 0, 0);
    float: right;

    text-align: left;
    height: 160px;
    width: 160px;
}

#next-piece {
    padding-left: 20%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 64px;
    width: 64px;
}

#panel p {
    padding-left: 10px;
    font-size: 10px;
    color: white;
    font-family: 'Press Start 2P', Consolas, monospace;
}

#menu {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1;
    height: 644px;
    width: 484px;
    background-color: rgba(0, 0, 0, 0.75);
}

#menu-content {
    padding-top: 50%;
    text-align: center;
    font-family: 'Press Start 2P', Consolas, monospace;
    font-size: 18px;
    color: white;
}

.cell.active{
    border: 0.5px solid black;
}

.cell.active.purple{
    background-color: purple;
}

.cell.active.cyan{
    background-color: cyan;
}

.cell.active.red{
    background-color: red;
}

.cell.active.blue{
    background-color: blue;
}

.cell.active.yellow{
    background-color: yellow;
}

.cell.active.green{
    background-color: green;
}

.cell.active.orange{
    background-color: orange;
}

