@import url('https://fonts.googleapis.com/css?family=Abel');

html, body {
  background: rgb(102, 102, 102);
  font-family: Abel, Arial, Verdana, sans-serif;
}
.post-container {
  width: 900px;
  height: 350px;
  background-color: rgb(126, 124, 124);
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.post-container:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.post-container .additional {
  width: 20%;
  height: 100%;
  background: linear-gradient(#92bCa6, #A2CCB6);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.post-container .additional .author-card {
  width: 20%;
  height: 100%;
  position: relative;
  float: left;
}

.post-container .additional .author-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

.post-container .additional .author-card .author-nickname,
.post-container .additional .author-card .author-age {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.post-container .additional .author-card .author-age {
  top: 85%;
}

.post-container .post-content {
  width: 80%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}