/* Add a gray background color with some padding */
body {
  font-family: Arial;
  background: #f1f1f1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.post-template-save-button{
  float: right;
}

.error{
  padding: 10px;
  color: red;
}
.post-template-input {
  width: 100%;
}

.post-template-textarea {
  resize: none;
  width: 100%;
  height: 100px;
}

.post-template-wrapper{
  padding: 10px;
  overflow:hidden;
}

#navbar-fullname{
  font-size: 25px;
  font-weight: bold;
  position: relative;
  padding-top: 15px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  height: 200px;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.feed-card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.leftcolumn {
  float: left;
  padding-left: 5%;
  width: 60%;
  height: 920px;
  overflow-y: scroll;
}

.rightcolumn {
  float: right;
  width: 40%;
  padding-left: 5%;

}

.chat-wall {
  height: 100%;
  width: 100%;
  border-style: none none none solid;
  border-width: 2px;
  border-color: #aaa;
}

.new-comment-wrapper{
  padding: 5px;
  overflow:hidden;
}

.new-comment-wrapper div input{
  width: 100%;
}

.new-comment-wrapper div {
  padding-top: 5px;
  float: left;
  width: 85%;
}

.new-comment-wrapper button {
  float: right;
}

.comments-wrapper {
  height: 25px;
}

.comments-count:hover {
  background-color: rgb(148, 148, 148);
  cursor: pointer;
}

.comments-count {
  float: left;
}

.comment-author {
  font-size: 12px;
  color: rgb(148, 148, 148);
}
.comment-wrapper {
  padding: 5px;
  border-style: none none solid none;
  border-width: 1px;
  border-color: rgb(202, 203, 204);
}

.det-comments-wrapper {
  border: rgb(148, 148, 148);
  border-style: solid none none none;
  padding-left: 20px;
}
.comment-text {
  font-size: 16px;
}


.guest-wrapper {
  outline: solid;
  outline-width: 1px;
  outline-color: rgb(148, 148, 148);
  height: 30px;
}

.guest-wrapper:hover {
  background-color: rgb(148, 148, 148);
  cursor: pointer;
}

.messages-wrapper {
  height: 650px;
  overflow-y: scroll;
  width: 100%;
}

.newmessage-wrapper {

  width: 100%;
}

.newmessage-wrapper textarea {
  padding-top: 5px;
  width: 85%;
  height: 125px;
  resize: none;
}

.message-wrapper {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.message-nickname {
  font-weight: bold;
}

.message-timestamp {
  font-size: 10px;
}

.message-text {
  /* overflow: auto; */
  text-align: left;
}